* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  background-color: #a5c7e1;
  color: #333;
  font-size: 16px;
  background-image: url('https://images.unsplash.com/photo-1550684376-efcbd6e3f031?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
  background-size: cover;
  background-position: center;
  line-height: 1.6;
}
.container {
  max-width: 900px; 
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2)); /* Keeps form background transparent */
  border-radius: 8px; 
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}
h1{
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #90caf0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

li:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user-name{
  font-weight: bold;
}


.icon-buttons {
  display: flex;
  gap: 50px;
  
}
.edit-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  margin:0 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.edit-icon:hover {
  transform: scale(1.1);
}

.delete-icon:hover {
  transform: scale(1.1);
}

button {
  background-color: #b3d7f0;
  color: #fff;
  border: none;
  padding: 6px 4px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #b3d7f0;
}
form {
  background-color: #9db1bf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button[type="submit"] {
  background-color: #28a745;
  padding: 10px 10px;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #218838;
}
button.edit,
button.delete {
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
}

button.edit {
  background-color: #ffc107;
  border: none;
  color: #fff;
}

button.delete {
  background-color: #dc3545;
  border: none;
  color: #fff;
}

button.edit:hover {
  background-color: #e0a800;
}

button.delete:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .container {
    padding: 15px; 
  }

  form {
    padding: 15px;
  }

  input {
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 10px 18px;
  }
}
